body 
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:0;
}
.dashboard-container
{ 
    text-align:left;  
    width: 100%;
    padding: 20px;

}
.semester-container 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    margin-top: 20px;

}
.semester-tile
{
    padding: 16px;
    background-color:white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 15px;
    overflow: hidden;
    display:flex; 
    flex-direction: column;
}
.semester-header
{
    background-color: rgb(76, 32, 138);
    color:white;
    padding: 10px;
}
.drag-drop-area 
{
    padding: 50px; 
    text-align: left;
    background-color:white;
    flex-grow:1;

}
.tile-labels
{
    background-color: rgb(76, 32, 138);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

  
.delete-button, .delete-course-btn
{
    background-color: rgb(76, 32, 138);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;

}

.search-input,.search-dropdown,.Add-Semester-Button,.search-button, .logout-button
{
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-right:10px;


}
.search-input::placeholder
{
    color:white;    
}

.available-courses-container {
    position: absolute;
    color:black;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 350px; 
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 2px solid #ddd; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    font-size: 14px; 
    overflow-y: auto; 
    max-height: 80vh; 
}
.available-course-item {
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid #ddd;
    cursor: grab;
    user-select: none;
}

.available-course-item:active {
    cursor: grabbing;
    opacity: 0.6;
}

.course-in-semester
{
    color:rgba(79,72,148,255);
    display: flex;
    justify-content: space-between; 
   

}
